.contract_metadata{
	background-color: #0E76FD;
    color: white;
    text-align: center;
    padding: 1.2rem 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}


.owners_list{
    margin: 2rem 0rem ;
    padding: .8rem 1.2rem;
    border-radius: 5px;
    max-height: 30rem;
    overflow: scroll;
    background-color: #c9e0ff;
}

.contract_info{
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 2rem;
}

.buttons_container{
    display: flex;
    column-gap: 1rem;
    justify-content: end;
    
}