.container{
	display: flex;
	flex-direction: column;
	width: 100%;
    height: 550px;
	align-items: center;
    justify-content: space-between;
    
}

.header_container{

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_container .header{
    line-height: 3em;
    text-align: center;
}
.header_container h1{
	font-size: 64px;

}
.header_container h3{
    color: rgba(1, 1, 1, 0.6);
}

.header_container h1 span{
	background: linear-gradient(140deg, rgba(54,190,255,1) 0%, rgba(115,63,241,1) 100%);
	background-clip: text;
	color: transparent;
}

.get_started{
	font-size: 18px;

}

.get_started span{
	color: #D73719;
	width: 197px;
height: 36px;


background: rgba(1, 1, 1, 0.08);
border-radius: 8px;
	padding: .5rem 1rem .5rem .5rem;
	margin-left: .3rem;
}




.buttons_container{
	display: flex;
	width: 80%;
    flex-wrap: wrap;
    justify-content: center;
	gap: 1.5rem;
    color: white;
}

.button{
	display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

padding: 24px 32px;
gap: 12px;

width: 392px;
height: 80px;

background: rgba(0, 0, 0, 0.9);
/* Grayscale/Metal */
box-shadow: 2px 2px 3px rgb(142, 142, 142);
border-radius: 12px;
cursor: pointer;
transition: all .5s;
}

.button:hover{
    background: rgba(0, 0, 0, 0.88);
    box-shadow: 6px 6px 6px rgb(234, 234, 234);
    transform: translateY(-3px);

}

.button p {
font-style: normal;
font-size: 18px;
line-height: 28px;
}