.transactions_box{
    overflow: scroll;
    height: 20rem;
    max-width: 80rem;
    min-width: 80rem;
    display: flex;
    flex-direction: column;
    padding: .2rem 2rem;
    background-color: rgb(241, 241, 241);
  }