
.button_container {
	display: flex;
	width: 100%;
	
}

.button {
	background-color: #0E76FD;
	border-radius: 5px;
	padding: 0.6rem 1.2rem;
	color: white;
	font-weight: 600;
	margin-top: 1.5rem;
}

.button:hover {
	transition: background-color 0.2s ease;
	background-color: #0664de;
	cursor: pointer;
}