.container {
	padding: 0 2rem;
	display: flex;
	justify-content: center;
}

.main {
	min-height: 100vh;
	padding: 2rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo {
	font-size: 5rem;
	margin: 0;
}

.header_container {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 3rem;
	padding: 2rem 4rem 0.8rem 2rem;
}

.logo_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
