.container{
    display: flex;
    width: 45rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: .5rem;
}

.searchBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.contract_address_input{
    padding: 0.7rem 1.2rem;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
}