
.panel_container{
    display: flex;
    flex-direction: column;
    padding: 0 20rem;
  }
  
  .panel{
    display: flex;
    text-align: justify;
    column-gap: 8rem;
    margin-bottom: 2rem;
  }
  
  .button_container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .button{
    background-color: blue;
    padding: .6rem 1.2rem;
    color: white;
  }
  